<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>modiaeventdistribution</display-name>

    <session-config>
        <session-timeout>60</session-timeout>
        <cookie-config>
            <name>modiaeventdistribution_JSESSIONID</name>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>no.nav.sbl.config.ApplicationConfig</param-value>
    </context-param>
    <servlet>
        <servlet-name>SelftestServlet</servlet-name>
        <servlet-class>no.nav.sbl.selftest.SelftestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelftestServlet</servlet-name>
        <url-pattern>/internal/selftest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jsonselftest</servlet-name>
        <servlet-class>no.nav.sbl.selftest.SelftestServletJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsonselftest</servlet-name>
        <url-pattern>/internal/selftest.json</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>isAliveServlet</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>isAliveServlet</servlet-name>
        <url-pattern>/internal/isAlive</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Ubeskyttet</web-resource-name>
            <url-pattern>/internal/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Alt annet beskyttet</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!-- From Servlet spec 3.1 "**" means any authenticated user
            ref: https://community.oracle.com/blogs/swchan2/2013/04/19/role-servlet-31-security-constraint -->
            <role-name>**</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>
